/* Para Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

	html {
		font-size: 50%;
	}
	.home-bg {
		background: url("/img/bgbg-home.jpg") no-repeat;
	}

	.header_menu ul li {
		margin-top: 10px;
		margin-left: 25px;
	}

	.logo {
		margin-top: 5vh;
	}

	.iconeSobre, .iconeAbaContato {
		padding: 10px 30px;
	}

	.imagemlateral {
		max-width: 400px;
		width: 100%;
		position: absolute;
		left: 410px;
	}

	.imagemlateral h2 {
		color: white;
	}

	.introducao {
		margin-top: 5vh;
	}


	.introtexto h2 {
		text-align: center;
		margin-left: 0px;
	}

	.introtexto h2:after {
		position: absolute;
		left: 5px;
	}
	.introtexto p {
		margin-left: 0px;
	}

	.footerHome {
		margin-left: 10vw;
	}

	.info-footer ul {
		position: absolute;
		left: -5vw;
		top: 30px;
	}

	.info-footer:after {
		left: 190px;
	}

	.footer_redes:after {
		left: 390px;
	}


	.sobre p {
		padding-right: 10px;
		text-align: left;
	}

	.setadireita {
		left: 150px;
	}


}

/* Final do Estilo - Tablets */ 

/* Para Smartphone */
@media only screen and (min-width: 376px) and (max-width: 425px) {

	html {
		font-size: 40%;
	}

	.header_menu {
		margin-top: 15vh;
		margin-left: 8vw;

	}

	.header_menu ul {
		margin-left: 92px;
	}

	.header_menu ul li {
		margin-left: 0px;

	}
		

	.introducao {
		margin-left: 10vw;
	}

	.iconeSobre, .iconeAbaContato {
		padding: 10px 30px;
	}

	.bem-vindo {
		margin-left: 13vw;
	}

	.call {
		margin-left: 20vw;
	}

	.logo img {
		width: 120px;
		position: absolute;
		top: 30px;
		left: 155px;
		
	}

	.imagemlateral {
		display: none;
	}

	.home-bg {
		width: 0;
	}

	.introducao h1 {
		text-align: left;
		margin-left: 89px;
		font-size: 20px;
		line-height: 25px;
		margin-right: 40px;
	}


	.introtexto h2:after {
		position: absolute;
		left: -16px;
	}

	.introtexto p {
		margin-right: 20px;
	}

	.setadireita {
		left: 135px;
	}

	.footerHome {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		
	}

	.info-footer {
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 10vh;
	}

	.info-footer:after {
		display: none;
	}

	.info-footer ul {
		position: absolute;
		left: 31vw;
		top: 8vh;;
	}

	.info-footer ul li {
		margin-top: 0px;
		padding-left: 40px;
		margin-bottom: 10px;
	}

	.iconeContatoH {
		display: list-item;
	}

	.sobre {
		display: none;
	}

	.footer_redes h3 {
		padding: 0px;
		display: none;
	}

	.footer_redes {
		position: absolute;
		top: -14vh;
		left: 30vw;
	}



	.footer_redes ul {
		margin-left: 10px;
	}

	.footer_redes ul li {
		margin-left: 10px;
	}

	.footer_redes ul li a {
		display: block;
		border: 3px solid #dc981b;
		padding: 6px;
	}

	.footer_redes ul li img {
		width: 20px;
	}

	.footer_redes:after {
		display: none;
		
	}
	
	
}

@media only screen and (min-width: 321px) and (max-width: 375px) {

	html {
		font-size: 40%;
	}

	.header_menu {
		margin-top: 15vh;
		margin-left: 3vw;

	}

	.header_menu ul {
		margin-left: 92px;
	}

	.header_menu ul li {
		margin-left: 0px;

	}
		

	.introducao {
		margin-left: 6vw;
	}

	.iconeSobre, .iconeAbaContato {
		padding: 10px 30px;
	}

	.bem-vindo {
		margin-left: 13vw;
	}

	.call {
		margin-left: 20vw;
	}

	.logo img {
		width: 120px;
		position: absolute;
		top: 30px;
		left: 129px;
		
	}

	.imagemlateral {
		display: none;
	}

	.home-bg {
		width: 0;
	}

	.introducao h1 {
		text-align: left;
		margin-left: 89px;
		font-size: 20px;
		line-height: 25px;
		margin-right: 40px;
	}

	.introtexto h2 {
		margin-right: 5vw;
	}

	.introtexto h2:after {
		position: absolute;
		left: -28px;
	}

	.introtexto p {
		margin-right: 20px;
	}

	.setadireita {
		left: 135px;
	}

	.footerHome {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		
	}

	.info-footer {
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 10vh;
	}

	.info-footer:after {
		display: none;
	}

	.info-footer ul {
		position: absolute;
		left: 31vw;
		top: 8vh;;
	}

	.info-footer ul li {
		margin-top: 0px;
		padding-left: 40px;
		margin-bottom: 10px;
	}

	.iconeContatoH {
		display: list-item;
	}

	.sobre {
		display: none;
	}

	.footer_redes h3 {
		padding: 0px;
		display: none;
	}

	.footer_redes {
		position: absolute;
		top: -14vh;
		left: 30vw;
	}



	.footer_redes ul {
		margin-left: 10px;
	}

	.footer_redes ul li {
		margin-left: 10px;
	}

	.footer_redes ul li a {
		display: block;
		border: 3px solid #dc981b;
		padding: 6px;
	}

	.footer_redes ul li img {
		width: 20px;
	}

	.footer_redes:after {
		display: none;
		
	}

}

@media only screen and (max-width: 320px) {
	html {
		font-size: 40%;
	}

	.header_menu {
		margin-top: 15vh;

	}

	.header_menu ul {
		margin-left: 92px;
	}

	.header_menu ul li {
		margin-left: 0px;

	}
		

	.introducao {
		margin-left: 2vw;
	}

	.iconeSobre, .iconeAbaContato {
		padding: 10px 30px;
	}

	.bem-vindo {
		margin-left: 13vw;
	}

	.call {
		margin-left: 20vw;
	}

	.logo img {
		width: 120px;
		position: absolute;
		top: 30px;
		left: 110px;
		
	}

	.imagemlateral {
		display: none;
	}

	.home-bg {
		width: 0;
	}

	.introducao h1 {
		text-align: left;
		margin-left: 89px;
		font-size: 20px;
		line-height: 25px;
		margin-right: 40px;
	}

	.introtexto h2 {
		margin-right: 12vw;
	}

	.introtexto h2:after {
		position: absolute;
		left: -39px;
	}

	.introtexto p {
		margin-right: 45px;
	}

	.setadireita {
		left: 135px;
	}

	.footerHome {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		
	}

	.info-footer {
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 10vh;
	}

	.info-footer:after {
		display: none;
	}

	.info-footer ul {
		position: absolute;
		left: 31vw;
		top: 8vh;;
	}

	.info-footer ul li {
		margin-top: 0px;
		padding-left: 40px;
		margin-bottom: 10px;
	}

	.iconeContatoH {
		display: list-item;
	}

	.sobre {
		display: none;
	}

	.footer_redes h3 {
		padding: 0px;
		display: none;
	}

	.footer_redes {
		position: absolute;
		top: -14vh;
		left: 30vw;
	}



	.footer_redes ul {
		margin-left: 10px;
	}

	.footer_redes ul li {
		margin-left: 10px;
	}

	.footer_redes ul li a {
		display: block;
		border: 3px solid #dc981b;
		padding: 6px;
	}

	.footer_redes ul li img {
		width: 20px;
	}

	.footer_redes:after {
		display: none;
		
	}
}