@media only screen and (min-width: 1441px) and (max-width: 2560px) {

    .welcome-container {
        max-width: 1500px;
    }
    .info-footer::after {
        display: none;
    }

    .sobreHome-footer::after {
        display: none;
    }

    .welcome-item {
        padding-top: 30px;
        margin-left: 250px;
    }

    .welcome-item h2 {
        font-size: 4.6rem;
        max-width: 380px;
    }

    .welcome p {
        margin-top: 20px;
        font-size: 2.4rem;
        line-height: 4.6rem;
        max-width: 375px;
    }
    .home-btn {
        margin-left: 349px;
    }

    .imagem-lateral {
        position: absolute;
        top: 930px;
        left: 1631px;
        max-width: 700px;
    }

    .menu-container::after, .menu-container::before,.intro::after, .intro::before,.welcome-container::after, .welcome-container::before {
        content: '';
        display: table;
        clear: both;

    }

    .intro {
        float: none;
        padding-right: 260px;
        padding-top: 130px;
    }

    .intro-texto h1 {        
        font-size: 5.6rem;
        line-height: 10rem;
    }

    .amamos {
        font-size: 4.8rem;
        position: absolute;
        top: 688px;
        right: 470px;
}
    

    .coracao {
        position: absolute;
        right: 574px;
        top: 860px;
    }

    .footerHome {
        margin-top: 532px;
        margin-bottom: 25px;
    }

}

@media only screen and (min-width: 860px) and (max-width: 980px) {

    .welcome-container, .menu-container,.intro-container, .footerHome-container {
        max-width: 720px;
    }

    .intro-texto {
        margin-bottom: 60px;
        margin-left: 30px;
    }

    .imagem-lateral {
        position: absolute;
        top: 530px;
        left: 533px;
        max-width: 400px;
    }

    .amamos {
        position: absolute;
        right: 181px;
    }

    .coracao {
        position: absolute;
        right: 220px;
        top: 430px;
    }
    .logo {
        right: 60px;
    }

    .intro {
        padding: 0px;
    }

    .home-btn {
        margin-left: 88px;
    }

    .group {
        margin-bottom: 17px;
    }

    .info-footer::after {
        display: none;
    }

    .sobreHome-footer::after {
        display: none;

    }

}

@media only screen and (min-width: 770px) and (max-width: 859px) {

    .welcome-container, .menu-container,.intro-container, .footerHome-container {
        max-width: 680px;
    }

    .menu-nav {
        margin-left: 75px;
    }

    .intro-texto {
        margin-bottom: 60px;
        margin-left: 30px;
    }

    .welcome-item {
        margin-left: 30px;
    }

    .home-btn {
        margin-left: 115px;
    }

    .imagem-lateral {
        position: absolute;
        top: 530px;
        left: 533px;
        max-width: 400px;
    }

    .amamos {
        position: absolute;
        right: 71px;
    }

    .coracao {
        position: absolute;
        right: 112px;
        top: 430px;
    }
    .logo {
        right: -45px;
    }

    .intro {
        padding: 0px;
    }

    .group {
        margin-bottom: 17px;
    }

    .info-footer::after {
        display: none;
    }

    .sobreHome-footer::after {
        display: none;

    }



}

@media only screen and (min-width: 650px) and (max-width: 769px) {

    .welcome-container, .menu-container,.intro-container, .footerHome-container {
        max-width: 680px;
    }

    .menu-nav {
        margin-left: 75px;
    }

    .intro-texto {
        margin-bottom: 60px;
        margin-left: 30px;
    }

    .welcome-item {
        margin-left: 85px;
    }

    .home-btn {
        margin-left: 165px;
    }

    .imagem-lateral {
        position: absolute;
        top: 530px;
        left: 533px;
        max-width: 400px;
    }

    .amamos {
        position: absolute;
        right: -28px;
    }

    .coracao {
        position: absolute;
        right: 8px;
        top: 430px;
    }
    .logo {
        right: -135px;
    }

    .intro {
        padding: 0px;
    }

    .group {
        margin-bottom: 17px;
    }

    .footerHome {
        margin-left: 136px;
    }
    .info-footer::after {
        display: none;
    }

    .sobreHome-footer::after {
        display: none;

    }

}

@media only screen and (min-width: 376px) and (max-width: 425px) {

    .welcome-container, .menu-container,.intro-container, .footerHome-container {
        max-width: 300px;
    }

    .menu-nav ul li {
        margin-left: 0px;
    }

    .menu-nav ul {
        margin-top: 150px;
        display: inline-flex;
    }

    .intro-texto {
        width: 200px;
        margin-left: 118px;
    }

    .intro-texto h1 {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .welcome-item {
        margin-left: -27px;
        padding-top: 110px;
    }

    .home-btn {
        margin-left: 50px;
    }


    .logo {
        right: 73px;
    }

    .intro {
        padding: 0px;
    }

    .group {
        margin-bottom: 17px;
    }

    .footerHome {
        margin-top: 83px;
    }

    .imagem-lateral, .info-footer::after, .sobreHome-footer::after, .amamos, .coracao {
        display: none;
    }

    .info-footer {
        display: none;
    }

    .sobreHome-footer {
        margin-top: 0px;
        margin-left: 0px;
        float: left;
    }
    

}

@media only screen and (max-width: 375px) {

    .welcome-container, .menu-container,.intro-container, .footerHome-container {
        max-width: 300px;
    }

    .menu-nav {
        padding: 13px;
        margin-top: 30px;
    }

    .menu-nav ul {
        margin-top: 150px;
        display: inline-flex;
    }

    .intro-texto {
        width: 200px;
        margin-left: 92px;
    }

    .intro-texto h1 {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .welcome-item {
        margin-left: -27px;
        padding-top: 110px;
    }

    .home-btn {
        margin-left: 50px;
    }


    .logo {
        right: 53px;
    }

    .intro {
        padding: 0px;
    }

    .group {
        margin-bottom: 17px;
    }

    .footerHome {
        margin-top: 83px;
    }

    .imagem-lateral, .info-footer::after, .sobreHome-footer::after, .amamos, .coracao {
        display: none;
    }

    .info-footer {
        display: none;
    }

    .sobreHome-footer {
        margin-top: 0px;
        margin-left: 0px;
        float: left;
    }


}