body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

/* Header */

.headerPages {
    background: url("../img/imgSobre/menubg.jpg") no-repeat center;
    height: 140px;
    max-width: 4000px;
    width: 100%;

}

.menuPages {
    text-align: center;
}

.menuPages ul li{
    display: inline-block;
    text-align: right;
    margin-left: 60px;  
}

.menuPages ul li a:hover {
    color: #574A43;
}
.menuPages ul li a.menu_ativo {
    color: #574A43;
}
.menuPages ul li a {
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.4rem;
    line-height: 2rem;
}

.iconeSobre {
    display: inline-block;
    background: url("../img/iconesobre.png") no-repeat left center;
    padding: 40px 30px;
    margin-top: 1em;
}

.iconeContatoMenu {
    display: inline-block;
    background: url("../img/iconecontato.png") no-repeat left center;
    padding: 15px 30px;
}

.homeIcon {
    display: inline-block;
    background: url("../img/imgSobre/home.svg") no-repeat left center;
    padding: 15px 30px;
}

.logo img {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 100px;
    max-width: 120px;
    max-height: 120px;
}

/* BG Header */


.introSobre h1 {
    font-size: 4.8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #574A43;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;

}

.introSobre h1:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #574A43;
    margin: 20px auto;
}

.introSobre p {
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1.4rem;
      color: #574A43;
      font-weight: normal;
}

/* Historia / Infos */

.historia h1, .homemade h1 {
      margin-top: 70px;
      margin-bottom: 20px;
      font-size: 3.6rem;
      line-height: 4rem;
      font-weight: bold;
      letter-spacing: 0.1em;
      color: #574A43;
      text-transform: uppercase;
}

.homemade h1, .homemade p {
      margin-left: 60px;
}

.iconeCook {
      background: url("../img/imgSobre/iconecookiconeIntro.svg") no-repeat right;
      margin-right: 210px;
}

.iconeHome {
      background: url("../img/imgSobre/iconehomeiconeIntro.svg") no-repeat right;
      margin-right: 100px;
}


.historia p, .homemade p {
      font-family: Georgia, 'Times New Roman', Times, serif;
      line-height: 2.5rem;
      font-size: 1.8rem;
      color: #574A43;
}

/* Características */

.tempero, .comunicacao, .praticidade {
      margin-right: 30px;
      margin-top: 90px;
      border-top: 50px solid #DC981B;
      background-color: white;
      width: 280px;
      height: 230px;
      -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
}

.tempero img {
      position: absolute;
      top: 98px;
      left: 135px;
      
}

.comunicacao img {
      position: absolute;
      top: 98px;
      left: 450px;
}

.praticidade img {
      position: absolute;
      top: 98px;
      left: 770px;
}

.tempero h3, .comunicacao h3, .praticidade h3 {
      margin-top: 20px;
      text-align: center;
      font-size: 2.4rem;
      line-height: 3.6rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #574A43;
      font-weight: bold;
}

.tempero p, .comunicacao p, .praticidade p {
      font-size: 16px;
      line-height: 2rem;
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #574A43;
      padding: 10px 20px;
}

/* Avaliações */

.avaliacoesIntro h1 {
    text-align: left;
    margin-top: 100px;
    font-size: 3.6rem;
    line-height: 4rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #574A43;
}

.avaliacoesIntro img {
    position: absolute;
    left: 350px;
    top: 285px;
    max-width: 120px;
    width: 100%;
}

.pAvaliacao {
    padding-right: 200px;
    margin-top: 30px;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #574A43;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.pInfosAvaliacao {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    margin-top: 30px;
    line-height: 4rem;
    color: #574A43;
}

.cincoEstrelas h1 {
    margin-top: 50px;
    font-size: 3.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #574A43;
}

.cincoEstrelas p {
    margin-top: 30px;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #574A43;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cincoEstrelas img {
    position: absolute;
    bottom: -150px;
    left: 160px;
}

.imgLateral {
    position: absolute;
    top: -130px;
    right: -63px;
}

/* Contato */

.contato h1 {
    margin-right: 50px;
    text-align: center;
    margin-top: 200px;
    font-size: 3.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #574A43;
}


.btn {
    background-color: #feae1b;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    position: absolute;
    left: 130px;
    bottom: -80px;
    transition: all 400ms ease;
    -webkit-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.25);

}

.btn:before {
    position: absolute;
    content: "";
    background: rgba(255,255, 255, 0.2);
    border-radius: 10px;
    transition: all 2s ease;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 40px;
}

.btn:hover:before {
    width: 100%;

}


/* Footer */


.footerbg1 {
    background-color: #DC981B;
    max-width: 100%;
    height: 140px;
    margin-top: 130px;
}

.footerbg2 {
    background-color: #574A43;
    max-width: 100%;
    height: 50px;
}

.info-footer {
    margin-top: 10px;
    margin-left: 5px;
}

.info-footer:after {
    content: "";
    display: block;
    width: 3px;
    height: 80px;
    background: white;
    position: absolute;
    top: 32px;
    left: 360px;
}

.info-footer ul li {
    margin-top: 4px;
    margin-left: 150px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 0.5rem;
    color: white;
}

.iconeLocal {
    display: inline-block;
    background: url("../img/Vectoriconesfooter-1.svg") no-repeat left center;
    padding: 15px 30px;
}

.iconeContato {
    display: inline-block;
    background: url("../img/Vectoriconesfooter.svg") no-repeat left center;
    padding: 15px 30px;
}

.iconeTelefone {
    display: inline-block;
    background: url("../img/call.svg") no-repeat left center;
    padding: 15px 30px;
}

.sobreFooter h3 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2rem;
    font-weight: bold;
    color: white;
    letter-spacing: 0.1em;
}

.sobreFooter p {
    margin-top: 10px;
    padding-bottom: 30px;
    margin-left: 20px;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5rem;
    color: white;


}

.sobreFooter:after {
    content: "";
    display: block;
    width: 3px;
    height: 80px;
    background: white;
    position: absolute;
    top: 32px;
    left: 590px;
}
.footerRedesPages h3 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-top: 20px;
    margin-left: 10px;
}

.footerRedesPages ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 7px;

}

.footerRedesPages ul {
    margin-left: 10px;
}

.footerRedesPages ul li a {
    display: block;
    border: 3px solid #feae1b;
    padding: 3px 5px;
}

.footerRedesPages ul li img {
    margin-top: 2px;
}
.footerRedesPages ul li a:hover {
    border-color: #574A43;
}

.footerbg2 p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.4rem;
    margin-top: 15px;
    margin-left: 160px;
}

/* Javascript Plugin */

.js [data-anime] {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
}
.js .fadeInDown {
    transform: translate3d(0, -40px, 0);
  }
.js .anime {
    opacity: 1;
    transform: none;
    transition: opacity 800ms, transform 800ms;
}