html {
    font-size: 62.5%;
}


body {
    font-family: Arial, Helvetica, sans-serif
}


img {
    display: block;
    max-width: 100%;
}

/* Header */

.home-bg {
    background: url("../img/bgbg-home.jpg") no-repeat left;
    max-width: 6000px;
    width: 100%;
}

.header_menu ul li{
    display: inline-block;
    margin-left: 45px;
    margin-top: 80px;
    text-align: right;
}

.header_menu ul li a:hover {
    color: #574A43;
}

.header_menu ul li a {
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.4rem;
    line-height: 2rem;
}

.iconeSobre {
    display: inline-block;
    background: url("../img/iconesobre.png") no-repeat left center;
    padding-left: 35px;
}

.iconeAbaContato {
    display: inline-block;
    background: url("../img/iconecontato.png") no-repeat left center;
    margin-left: 30px;
    padding-left: 35px;
}

.logo {
    max-width: 150px;
    width: 100%;
    max-height: 150px;
    height: 100%;
    margin-top: 10px;
}

/* Intro */
.introducao h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    line-height: 6rem;
    letter-spacing: 0.1em;
    margin-right: 50px;
    color: #574A43;
    margin-top: 30px;
    height: auto;
}

.introtexto h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.6rem;
    line-height: 0.2em;
    font-weight: normal;
    color: #574A43;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.introtexto h2:after {
    content: "";
    display: block;
    width: 205px;
    height: 2px;
    background: #DC981B;
    margin-top: 15px;
    margin-left: 65px;

  }

.introtexto p {
    margin-top: 30px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #574A43;
}


.btn {
    border: 2px solid #574A43;
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-left: 0 auto;
}

.btn:hover {
    color: #fff;
    border-color: white;
}

.call {
    margin-top: 30px;
    margin-left: 80px;
}

.setadireita {
    position: relative;
    left: 170px;
    top: -32px;
}

.setaesquerda {
    position: relative;
    right: 60px;
    top: -75px;
}

/* Side Div */

.imagemlateral {
    position: absolute;
    top: -90px;
    left: 490px;
    max-width: 600px;
    width: 100%;
}

.imagemlateral h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.6rem;
    line-height: 4rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #574A43;
    text-align: center;
    margin-bottom: 20px;

    
}

.coracao {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 60px;
    width: 100%;
}

/* Footer */

.footerHome {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.info-footer {
    margin-top: 10px;
    margin-left: 5px;
}

.info-footer:after {
    content: "";
    display: block;
    width: 3px;
    height: 140px;
    background: white;
    position: absolute;
    top: 20px;
    left: 250px;
}

.info-footer ul li {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1rem;
    color: white;
}




.iconeLocalH {
    display: inline-block;
    background: url("../img/Vectoriconesfooter-1.svg") no-repeat left center;
}

.iconeContatoH {
    display: inline-block;
    background: url("../img/Vectoriconesfooter.svg") no-repeat left center;
}

.iconeTelefoneH {
    display: inline-block;
    background: url("../img/call.svg") no-repeat left center;
}

.sobre {
    margin-top: 20px;
}

.sobre h3 {
    padding: 10px 30px;
    font-size: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2rem;
    font-weight: bold;
    color: white;
    letter-spacing: 0.1em;
}

.sobre p {
    padding: 0px 30px;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5rem;
    color: white;


}

.footer_redes:after {
    content: "";
    display: block;
    width: 3px;
    max-height: 140px;
    height: 100%;
    background: white;
    position: absolute;
    top: 20px;
    left: 450px;
}

.footer_redes h3 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 20px 20px;
    margin-top: 10px;

}

.footer_redes ul li {
    display: inline-block;
    margin-right: 5px;

}

.footer_redes ul {
    margin-left: 10px;
}

.footer_redes ul li a {
    display: block;
    border: 3px solid #feae1b;
    padding: 5px;
}

.footer_redes ul li a:hover {
    border-color: #574A43;
}

/* Javascript Plugin */

.js [data-anime] {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
}
.js .fadeInDown {
    transform: translate3d(0, -40px, 0);
  }
.js .anime {
    opacity: 1;
    transform: none;
    transition: opacity 800ms, transform 800ms;
}

